@model EpisodeVM

@foreach (var item in Model.Episodes)
{
    <div class="i-item">
        <a href="#">
            <img src="@item.Part.imageSrc" alt="@item.Part.Name" class="i-image" />
            <hr />
            <div class="i-details">
                <p class="i-name">@item.Part.Name</p>
                <p class="i-year">حلقة @item.EpisodeNo | @item.Date</p>
            </div>
        </a>
    </div>
}