@model FilmVM

@foreach (var film in Model.Films)
{
    <div class="i-item">
        <a asp-controller="Films" asp-action="Details" asp-route-id="@film.Id">
            <img src="@film.imageSrc" alt="@film.Name" class="i-image" />
            <hr />
            <div class="i-details">
                <p class="i-name">فيلم @film.Name</p>
                <p class="i-year">@film.Year</p>
            </div>
        </a>
    </div>
}